.timeline-image img{
    height:190px;
    width:100%;
    object-fit: cover;
    position: relative;
}
.dark-overlay-timeline{
    position: absolute;
    color: white;
    display: block;
    top: 100px !important;
    width: 95.5%;
    height:190px;
    background: #00000075;
    z-index: 1000 !important;
}

.removePadding{
    padding:0 !important
}